.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    
}

.project-container-skills{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
    font-size: 3.5rem;
}

.proimage{
    width: 100%;
    height: 40vh;
    object-fit: fill;
}

.project-card{
    border-radius:5%;
    background:rgba(66, 66, 63, 0.589);
    padding: 1.2rem 1rem;
}

.project-card img{
    width: 100%;
}

.github{
    padding-left:32%;
    padding-bottom:1%;
}

.title{
    color:white;
    padding: 0.5rem 0;
    text-transform: uppercase;
    text-align: center;
}

.project-details{
    height:210px;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}


@media screen  and (max-width:1040px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: repeat(2,1fr);
    }

    .project-container-skills{
        max-width: 90%;
        margin: auto;
        grid-template-columns:repeat(2,1fr);
    }
    .proimage{
        width: 100%;
        height:50vh;
        object-fit: auto;
    }
    
}

@media screen  and (max-width:640px){
    .project-container-skills{
        max-width: 90%;
        margin: auto;
        grid-template-columns:1fr;
    }
}
